modules = ["python-base-3.13"]
run = "python app.py"
[nix]
channel = "stable-24_05"
packages = ["python-launcher"]

[deployment]
run = ["sh", "-c", "python app.py"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Run Flask App"

[[workflows.workflow]]
name = "Run Flask App"
author = 44118652
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd EduFlask && python app.py"
